- content_for :content do
  .container-alt
    .logo-container
      %h1
        = link_to root_path do
          = image_tag '/img/pb-icon.svg', height: 128, alt: 'Logo'

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
