- content_for :header_tags do
  = render_initial_state

- if controller_name != "about" || action_name == "more" || action_name == "terms"
  - content_for :content do
    .public-layout
      - unless @hide_navbar
        .container
          %nav.header
            .nav-left
              = link_to root_url, class: 'brand' do
                = image_tag '/img/pb-icon.svg', height: 24, alt: 'Logo', style: 'margin-left: -10px;'

              - unless whitelist_mode?
                %li= link_to t('about.about_this'), about_more_path
              %li= "v#{Mastodon::Version.to_s}"
          .column-4
            %h4= t 'footer.more'
            %ul
              %li= link_to t('about.source_code'), Mastodon::Version.source_url
              %li= link_to t('about.apps'), '/apps/index.html'
        .legal-xs
          = link_to "v#{Mastodon::Version.to_s}", Mastodon::Version.source_url
          ·
          = link_to t('about.privacy_policy'), terms_path

= render template: 'layouts/application'
